@charset "UTF-8";

/*em html ID = a # em CSS*/

body{
    background-color: rgb(135, 222, 149);
    text-align: right;
}
h1#principal{
    color: beige;
    background-color: black;
}
h1{
    color: rgb(9, 97, 43);
    text-align: center;
}
h2{
    color: rgb(9, 97, 43);
    text-align: left;
}
.basico{
    color: rgb(106, 13, 193);
    font-weight: bold;
}
.intermediario{
    color: chartreuse;
    font-weight: bold;
}
.avançado{
    color: brown;
}
.destaque{
    background-color: rgba(0, 0, 0, 0.342);
}